html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.image-table{
    max-width:20%;
}
.edit {
    background-color:orange;
    color:white;
}
.delete {
    color: white;
    background-color: red;
}
.success {
    color: white;
    background-color: green;
}
.ok {
    color: white;
    background-color: blue;
}
.button{
    border-radius:5px;
    padding:10px;
    text-decoration:none;

}
.navbar-top {
    background-color: #d02126 !important;
    color:white!important;
}
.dropdown-cor {
    background-color: #992532!important;
    border-color:transparent;
}
.card-img-top img {
    min-height: 414.4px!important;
    max-height: 414.4px!important;
}
.card-img-top video {
    min-height: 414.4px;
    max-height: 414.4px;
}
.card-img-top  {
    min-height: 300px;
    max-height: 300px;
    object-fit:contain
}