@model bancoDeImagens.Models.Images

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:#992532">Inserir arquivo</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create" enctype="multipart/form-data" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row mt-2">
				<div class="col md-2">
					<span>Arquivo de imagem</span>
				</div>
			</div>
			<div class="row">
				<div class="col md-8">
					<input type="file" name="video" class="form-control" />
				</div>
			</div>
			<div class="row mt-4">
				<div class="col md-8">
					<span>Descrição da imagem</span>
				</div>
				<div class="col md-2"></div>
			</div>
			<div class="row">
				<div class="col md-8">
					<input asp-for="Description" class="form-control" />
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
			</div>
			<div class="row mt-4">
				<input type="submit" value="Create" class="button success" />
			</div>
		</form>
	</div>
</div>

<div>
	<a class="btn ok " asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
